.custom-input {
    width: 300px; /* Szerokość */
    height: 50px; /* Wysokość */
}

.custom-input .MuiInputBase-root {
    height: 50px; /* Wysokość wewnętrznego pola */
}

.but{
    height: 50px;
}